<h1>Ticketing</h1>
<div class='nav_item'>
  <%= link_to "Projects", root_path %>
</div>

<div class='nav_item'>
  <%= link_to "Tickets", tickets_path %>
</div>

<div class='nav_item'>
  <%= link_to "Tags", tags_path %>
</div>
